<div>
	<user>
		<%= comment.commenter%>:
	</user>
	<%= comment.body%>
	<edit>
	  <%= link_to 'Destroy', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	</edit>
</div>
