// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
	font-weight: bold;
	font-size: 25px;
	color: #333333;
}

subheader{
	font-weight: bold;
	font-size: 18px;	
	color: #5c5c5c;
}

.center{
	text-align: center;
}

.border {	
	padding-top: 10px;
	padding-bottom: 10px
}

.edit{
	font-size: 13px;
}

.user{
	font-weight: bold;
    color: #4d4d4d;
    margin:20px;
}