// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

edit{
	margin: 40px;
	padding: 40px;
	font-size: 13px;
}

user{
	font-weight: bold;
    color: #4d4d4d;
    margin:20px;
}